/* Header.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
   z-index: 100;
   width: 100%;
  }
  
  .header_logo {
    height: 40px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .header_center {
    display: flex;
    align-items: center;
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 999px; /* Round the input container */
    padding: 10px;
  }
  
  .header_center input {
    border: none;
    outline: none;
    flex: 1;
  }
  
  .header_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header_right > p {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  
.dropdown {
  position: relative;
}

.dropdown-content {
  border-radius: 20px;
  display: none;
  margin: 2px 15px 20px -120px;
  padding: 20px 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  font-size: 20px ;
  color:black;
  cursor:pointer;
  padding: 10px 25px;
  text-decoration: none;
  display:block;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:block;
}



