/* Banner.css */

.banner {
    background-image: url('https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master');
    position: relative;
    height: 80vh;
    background-size: cover;
  }

  .banner_info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
  }
  
  .banner_search {
    display: flex;
   flex-direction: column;
  }
  
  .banner_searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color:  #ff7779 !important;
  }
  
  .banner_info > h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .banner_info > h5 {
  margin-top: 10px;
  }
  
  .banner_info > button {
    background-color: #ff7779;
    color: white;
    margin-top: 20px;
    font-weight: 600;
    text-transform: inherit;
  }
  
  .banner_info > button:hover {
    background-color: white;
    color:  #ff7779;
  }
  